@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../assets/fonts/roboto-latin-300-normal.woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../assets/fonts/roboto-latin-400-normal.woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("../assets/fonts/roboto-latin-500-normal.woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../assets/fonts/roboto-latin-700-normal.woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: url("../assets/fonts/roboto-latin-900-normal.woff2");
}
